@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styles de base pour le dark mode */

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
  margin: 0;
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul li a {
  font-size: 18px;
}

.section-course {
  margin-top: 10px; /* Réduit encore l’espace vertical */
}

.btn-anim {
  margin-bottom: 5px; /* rapproche le bouton de la section suivante */
  transition: all 0.3s ease;
}

.btn-anim:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}